<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>좋아요 페이지</title>
    <link rel="stylesheet" href="likes.css">
</head>

<body>
    <!-- 좌상단 제목 -->
    <header>
        <h1 id="page-title">Let's Cook</h1>
    </header>

    <!-- 메인 컨테이너 -->
    <div class="container">
        <!-- 내가 좋아요 누른 레시피 제목 -->
        <div class="title-box">
            <h2>내가 좋아요한 레시피</h2>
        </div>

        <!-- 내용이 들어갈 수 있는 큰 박스 -->
        <div class="content-box">
            <% for(let i = 0; i < likedRecipes.length; i++){ %>
            <!--레시피 카드-->
            <div class="recipe-card">
                <!--요리명-->
                <div class="recipe-title">
                    <p>
                        <span class="title-label">요리명 : </span>
                        <span class="recipe-name-box"><%= likedRecipes[i].Name %></span>
                    </p>
                </div>
                <!--재료 및 과정-->
                <div class="recipe-details">
                    <p>재료 : <span class="recipe-ingredient"><%= likedRecipes[i].Ingredients %></span></p>
                    <p>과정 : <span class="recipe-process"><%= likedRecipes[i].Process %></span></p>
                </div>
            </div>
            <!--추가 카드가 생길 경우 반복-->
            <% } %>
        </div>
    </div>

    <!-- 뒤로가기 버튼 -->
    <footer>
        <a href="/main" class="logout-button">뒤로가기</a>
    </footer>


    <script>
        // ingreds
        const recipe_ingreds = document.querySelectorAll('.recipe-ingredient');
        console.log(recipe_ingreds)
        for(const ingred_block of recipe_ingreds){
            let ingred_txt = ingred_block.textContent;
            console.log(ingred_txt)
            const ingreds = ingred_txt.split('\\n').filter(step => step.trim() !== '');
            console.log(ingreds)
            ingred_block.innerHTML = '';
            const ulTag = document.createElement('ul');
            ingred_block.appendChild(ulTag);
            ingreds.forEach(ingred => {
                const liTag = document.createElement('li');
                liTag.textContent = ingred.trim();
                ulTag.appendChild(liTag);
            })
        }

        // process
        const recipe_process = document.querySelectorAll('.recipe-process');
        console.log(recipe_process)
        for(const process_block of recipe_process){
            let process_txt = process_block.textContent;
            console.log(process_txt)
            const processes = process_txt.split('\\n').filter(step => step.trim() !== '');
            console.log(processes)
            process_block.innerHTML = '';
            processes.forEach(process => {
                const pTag = document.createElement('p');
                pTag.textContent = process.trim();
                process_block.appendChild(pTag);
            })
        }
    </script>
</body>
</html>