<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 추천2</title>
    <link rel="stylesheet" href="/recipe2.css">
</head>

<body>
    <!-- 좌상단 제목 -->
    <header>
        <h1>Let's Cook</h1>
    </header>

    <div class="container">
        <!--왼쪽 추천 박스-->
        <div class="left-box">
            <p>추천 레시피 1</p>
            <span class="like-button"></span>
        </div>
        <div class="recommned-item">
            <p>추천 레시피 2</p>
            <span class="like-button"></span>
        </div>
        <div class="recommned-item">
            <p>추천 레시피 3</p>
            <span class="like-button"></span>
        </div>
    </div>

    <!--오른쪽 레시피 상세 박스-->
    <div class="right-box">
        <h2>계란말이</h2>
        <p>여기에 상세 레시피 내용 표시</p>
    </div>

    <!-- 뒤로가기 버튼 -->
    <footer>
<<<<<<< HEAD
        <a href="/recommend" class="back-button">뒤로가기</a>
=======
        <a href="/recommend" class="logout_out">뒤로가기</a>
>>>>>>> 8e83afb5cc9929c736ed1022321f4a73a855e3d1
    </footer>
</body>

</html>