<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 추천2</title>
    <link rel="stylesheet" href="/recipe2.css">
</head>

<body>
    <!-- 좌상단 제목 -->
    <header>
        <h1>Let's Cook</h1>
    </header>

    <div class="container">
        <!-- 왼쪽 추천 리스트 박스 -->
        <div class="left-box">
            <!-- 추천 박스 1 -->
            <div class="recommend-item recipe1">
                <p>요리명: <span class="recipe-name-box"><%= recipes.recipe1.title %></span></p>
            </div>

            <!-- 추천 박스 2 -->
            <div class="recommend-item recipe2">
                <p>요리명: <span class="recipe-name-box"><%= recipes.recipe2.title %></span></p>
            </div>

            <!-- 추천 박스 3 -->
            <div class="recommend-item recipe3">
                <p>요리명: <span class="recipe-name-box"><%= recipes.recipe3.title %></span></p>
            </div>
        </div>

        <!-- 오른쪽 상세 정보 박스 -->
        <div class="right-box">
            <h2 id="recipe-title">요리명</h2>
            <!-- 재료 박스 -->
            <div class="ingredients-box">
                <p>재료: <span id="ingredients-box-content"></span></p>
            </div>
            <!-- 과정 박스 -->
            <div class="process-box">
                <p>과정:</p>
                <div id="process-content" class="scrollable-content"></div>
            </div>
            <button class="like-button">선택</button>
        </div>
    </div>

    <!-- 뒤로가기 버튼 -->
    <footer>
        <a href="/recommend" class="back-button">뒤로가기</a>
    </footer>

    <script>
        // 동적 데이터 표시 함수
        function displayRecipe(data) {
            // 우측 박스
            const rightBox = document.querySelector(".right-box");

            // 요리명
            const recipeTitle = document.getElementById("recipe-title");
            recipeTitle.textContent = data.name;

            // 재료
            const ingredientsBox = document.getElementById("ingredients-box-content");
            ingredientsBox.innerHTML = ""; 
            const ingredientsList = document.createElement("ul");
            ingredientsBox.appendChild(ingredientsList);
            ingredientsList.innerHTML = "";
            data.ingredients = data.ingredients.replace(/-/g, '');
            const ingredsArray = data.ingredients.split('\n');
            ingredsArray.forEach(ingred => {
                const ingredsParagraph = document.createElement("li");
                ingredsParagraph.textContent = ingred;
                ingredientsList.appendChild(ingredsParagraph);
            });

            // 과정
            const processContent = document.getElementById("process-content");
            processContent.innerHTML = "";
            const stepsArray = data.recipe.split('\n');
            stepsArray.forEach(step => {
                const stepParagraph = document.createElement("p");
                stepParagraph.textContent = step;
                processContent.appendChild(stepParagraph);
            });

            // 우측 박스 보이기
            rightBox.classList.remove("hidden");
        }

        let recipes_str = '<%- JSON.stringify(recipes) %>'
        recipes_str = recipes_str.replace(/\n/g, '\\n');
        const recipes = JSON.parse(recipes_str)
        const recipeDataList = document.querySelectorAll('.recommend-item')
        recipeDataList.forEach(function(item){
            item.addEventListener('click', function(){
                let selected_recipe = item.getAttribute('class').split(' ')[1];
                if (selected_recipe) {
                    let name = recipes[selected_recipe]["title"] 
                    let ingredients = recipes[selected_recipe]["ingredients"]
                    let steps = recipes[selected_recipe]["steps"] 
                    displayRecipe({name:name, ingredients:ingredients, recipe:steps}); // 데이터 표시
                }
            })
        })
    
        // ajax
        const like_button = document.querySelector('.like-button')
        like_button.addEventListener('click', function(){
            const title = document.getElementById("recipe-title").innerText;
            const ingreds_html = document.getElementById("ingredients-box-content").innerHTML;
            const ingreds = ingreds_html.replace(/<li>/g, '\n').replace(/<\/li>|<ul>|<\/ul>/g, '');
            const process_html = document.getElementById("process-content").innerHTML;
            const process = process_html.replace(/<p>/g, '\n').replace(/<\/p>/g, '');
            fetch(`/recommend/select?title=${title}&ingreds=${encodeURIComponent(ingreds)}&process=${encodeURIComponent(process)}`, { method : 'POST' })
            .then((r)=>r.text())
            .then((r)=>{
                like_button.innerText = "선택했음"
                // 좋아요 버튼 또 누르지 못하도록 이벤트리스너 제거
                const selected = like_button.cloneNode(true);
                like_button.replaceWith(selected);
                
                // 다른 레시피 클릭 못하도록 이벤트리스너 제거
                document.querySelectorAll('.recommend-item').forEach(function(item){
                    const newItem = item.cloneNode(true);
                    item.replaceWith(newItem);
                })
            })
        })
    
    </script>

</body>

</html>