<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 추천</title>
    <link rel="stylesheet" href="/recipe2.css">
</head>

<body>
    <!-- 좌상단 제목 -->
    <header>
        <h1>Let's Cook</h1>
    </header>

    <div class="container">
        <!-- 왼쪽 추천 리스트 박스 -->
        <div class="recommend-item">
        </div>
        <span class="like-button">좋아요</span>
    </div>
    <div class="recommend-item">
        <div class="recommend-item">
        </div>
        <span class="like-button">좋아요</span>
    </div>
    <div class="recommend-item">
        <div class="recommend-item">
        </div>
        <span class="like-button">좋아요</span>
    </div>

    <!--오른쪽 레시피 상세 박스-->
    <div class="right-box">
        <h2>계란말이</h2>
    </div>

    <!-- 뒤로가기 버튼 -->
    <footer>
        <a href="/recommend" class="back-button">뒤로가기</a>
    </footer>
</body>

</html>