<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레시피 추천</title>
    <link rel="stylesheet" href="/recipe1.css">
</head>

<body>
    <!-- 좌상단 제목 -->
    <header>
        <h1>Let's Cook</h1>
    </header>

    <div class="container">
        <!--왼쪽 영역(냉장고)-->
        <div class="left-side">
            <h2>My 냉장고</h2>
            <div class="fridge">
                <!-- 위쪽 냉장고: 필수 재료 -->
                <div class="fridge-section top">
                    <div class="label essential">필수 재료</div>
                    <div class="ingred-container">
                        <% for (let ingred of ingreds) { %>
                            <% if (ingred.Status === 1) { %>
                                <div class="ingred-box">
                                    <p><%= ingred.Name %></p>
                                    <p><%= ingred.remainingDays %>일 남음</p>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>

                <!-- 아래쪽 냉장고: 전체 재료 -->
                <div class="fridge-section bottom">
                    <div class="label all">전체 재료</div>
                    <div class="ingred-container">
                        <% for (let ingred of ingreds) { %>
                            <% if (ingred.Status === 0) { %>
                                <div class="ingred-box">
                                    <p><%= ingred.Name %></p>
                                    <p><%= ingred.remainingDays %>일 남음</p>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!--오른쪽 영역(레시피 추천)-->
        <div class="right-side">
            <form action="/recommend/done" method="POST">
                <!--오늘의 기분 입력-->
                <div class="status-input">
                    <label for="prompt">오늘의 기분 : </label>
                    <input type="text" name="prompt" id="prompt" placeholder="오늘의 기분을 입력하세요">
                </div>

                <!--레시피 추천 버튼-->
                <button type="submit" class="large-button">레시피 추천</button>
            </form>
        </div>
    </div>

    <!-- 뒤로가기 버튼-->
    <footer>
        <a href="/main" class="logout-button">뒤로가기</a>
    </footer>
</body>

</html>
