<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이전 검색</title>
    <link rel="stylesheet" href="/recommend_previous.css">
</head>

<body>
    <!-- 좌상단 제목 -->
    <header>
        <h1 id="page-title">Let's Cook</h1>
    </header>

    <!-- 메인 컨테이너 -->
    <div class="container">
        <!-- 내가 전에 추천받은 레시피 제목 -->
        <div class="title-box">
            <h2>내가 전에 추천받은 레시피</h2>
        </div>

        <!-- 내용이 들어갈 수 있는 큰 박스 -->
        <div class="content-box">
            <p>1. 계란말이</p>
            <p>요약 :</p>
        </div>
    </div>

    <!-- 뒤로가기 버튼 -->
    <footer>
        <a href="/main" class="logout-button">뒤로가기</a>
    </footer>

</body>
</html>